<div id="jive-body-sidebarcol-container">
	<p>
		<%= link_to '新 问 题','#inline_content',:class => "inline btn primary" %>
	</p>
	<p><%= link_to '收  藏','#',:class => "btn primary" %></p>
	<p><%= link_to '分 享',ajax_path,:class => "ajax btn primary",:remote => true %></p>
	<p><%= link_to '类似案例','#',:class => "btn primary" %></p>
	<p><%= link_to '日  志','#',:class => "btn primary" %></p>				
</div>