<%= render 'present_bar' %>

<div id="container">

<div id="jive-body-maincol-container">
	
<p>
	<%= link_to '全部', presents_path %> |
	<%= link_to '已完成', presents_path(:resolve => 'true') %> |
	<%= link_to '未完成', presents_path(:resolve => 'false') %>
</p>

<div id="orders_chart2" style="width: 600px; height: 300px;"></div>

<table class="pretty">
  <!-- Orders table code here -->
</table>


<script type="text/javascript" charset="utf-8">
$(function () {

	new Highcharts.Chart({
    chart: { renderTo: 'orders_chart2' },
    title: { text: '问题解决数量' },
    xAxis: { categories: [
	
		<% @time.each do |timeday| %>
			'<%= timeday %>',
		<% end %>
						  ] },
    yAxis: {
      title: { text: '笔数'}
    },
    series: [{
      data: [
				<% @case.each do |caseday| %>
					<%= caseday %>,
				<% end %>
			]
    }]
  });
});
</script>



<div class="actions_wrapper">

	<ul class="content_actions">
		项目历史</br>
	</ul>
	<ul class="content_bctions">
		<table>
			<tr>
				<td></td>
				<td></td>
				<td>优先</td>
				<td>标题</td>
				<td>产品类型</td>
				<td>时间</td>
			</tr>

				<% @presents.each do |present| %>
			<tr>
				<td><%= present.user_readed?(current_user.id) if user_signed_in?  %></td>
				<td><%= '已解决' if present.resolve %></td>
				<td><%= present.level_s %></td>
				<td><%= link_to truncate(present.title,:length => 40), present_path(present) %></td>
				<td><%= present.type %></td>		
				<td><%= present.created_at.to_date %></td>
			    <td><%= link_to '编辑', edit_present_path(present) if user_signed_in? %></td>
			    <td><%= link_to '下载附件', present.fileatt.to_s if present.fileatt.to_s %></td>
			</tr>
				<% end %>
		</table>
	</ul>
</div>
</br>


<%= link_to '提交一个新问题', new_present_path %>

</div>


<%= render 'nav_tool' %>

</div>