<%= content_for :bar do %>
<li class="active">
	<a href="/">问题反馈</a>
</li>
	<li class="active">
		<%= link_to '问题提交', presents_path %>
		<span class="notch">
			<span class="inner">&nbsp;</span>
		</span>
	</li>
	<li class="active">
		<%= link_to '日志', '/admin' %>
	</li>
<li class="active">
	<%= link_to '管理', '/admin' %>
</li>
<% end %>




<div id="orders_chart" style="width: 400px; height: 300px;"></div>
<div id="orders_chart2" style="width: 400px; height: 300px;"></div>

<table class="pretty">
  <!-- Orders table code here -->
</table>


<script type="text/javascript" charset="utf-8">
$(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'orders_chart' },
    title: { text: '已完成项目统计' },
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: 'Dollars'}
    },

    tooltip: {
       formatter: function() {
          return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
       }
    },
    series: [{
	type: 'pie',
      data: [['已完成 - 90%', 90],['未完成 - 10%',10]]
    }]
  });

	new Highcharts.Chart({
    chart: { renderTo: 'orders_chart2' },
    title: { text: '问题解决数量' },
    xAxis: { categories: ['1月1日', '1月2日', '1月3日', '1月4日', '1月5日', 'Jun', 
       'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] },
    yAxis: {
      title: { text: '笔数'}
    },
    series: [{
      data: [1, 2, 9, 4, 2]
    }]
  });
});
</script>



<h1>当前问题</h1>

<table id='current_question'>
<% @presents.each do |present| %>
  <tr>
	<td><%= present.id %></td>
    <td><%= link_to present.cause, present %></td>
    <td><%= link_to '编辑', edit_present_path(present) %></td>
    <td><%= link_to '删除', present, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to '下载附件', present.fileatt.to_s if present.fileatt.to_s %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '提交一个新问题', new_present_path %>
