<%= render 'present_bar' %>

<p id="notice"><%= notice %></p>

<p>
	<b>ID:</b>
	<%= @present.id %>
</p>

<p>
  <h1>
	<b>标题:</b>
	<%= @present.title %>
  </h1>
</p>


<p>
  <b>问题类型:</b>
  Internet Explorer产品
</p>

<p>
  <b>优先级:</b>
  <%= @present.level %>
</p>


<p>
  <b>描述:</b>
  <%=raw @present.description %>
</p>

<p>
  <b>问题原因:</b>
  其他
</p>

<p>
  <b>原因描述:</b>
  <%=raw @present.cause_detail %>
</p>

<p>
  <b>解决方案:</b>
  <%=raw @present.solution %>
</p>


<p>
  <b>文档附件:</b>
  <%= link_to @present.fileatt.to_s, @present.fileatt.to_s if @present.fileatt.to_s %>
</p>


<p>
  <b>备注:</b>
  <%= @present.note %>
</p>


<p>
  <b>创建时间:</b>
  <%= @present.created_at %>
</p>


<p>
  <b>最后修改时间:</b>
  <%= @present.updated_at %>
</p>

<p>
  <b>用户:</b>
  <%= User.first.email %>
</p
>
<p>
  <b>评论:</b>

	<div class='pinglun'>
		
		<% if @present.review != [] %>
		
		<% @present.review.each do |review| %>
		<%= review.content %></br>
		</br>
		由 <%= review.user.email %> 发布. <%= review.created_at.to_date %>
		<% end %>
		
		<% else %>
		
		暂时还没有评论
		
		<% end %>
		
	</div>
</p>

<%= link_to '编辑', edit_present_path(@present) %> |
<%= link_to '返回主页', presents_path %>
