<%= render 'present_bar' %>


<div id="container">
	<p id="notice"><%= notice %></p>
	<div>
		<div id="sidebar">ID:</div>
	  	<div id="content"><%= @present.id %></div>
	</div>
	<div>
		<p>
		  <h1>
			<b>标题:</b>
			<%= @present.title %>
		  </h1>
		<h2>
			(已解决)
		</h2>
		</p>
	</div>
	<div>
		<div id="sidebar">产品类型:</div>
	  	<div id="content">Internet Explorer产品</div>
	</div>
	<div>
		<div id="sidebar">优先级:</div>
	  	<div id="content"><%= @present.level_s %></div>
	</div>
	<div>
		<div id="sidebar">描述:</div>
	  	<div id="content"><%=raw @present.description %></div>
	</div>
	<div>
		<div id="sidebar">问题原因:</div>
	  	<div id="content"><%= @present.cause_s %></div>
	</div>
	<div>
		<div id="sidebar">原因描述:</div>
	  	<div id="content"><%=raw @present.cause_detail %></div>
	</div>
	<div>
		<div id="sidebar">解决方案:</div>
	  	<div id="content"><%=raw @present.solution %></div>
	</div>
	<div>
		<div id="sidebar">文档附件:</div>
	  	<div id="content"><%= link_to @present.fileatt.to_s.split('/').last, @present.fileatt.to_s if @present.fileatt.to_s %>
		(<%= number_to_human_size(@present.fileatt.size, :precision => 2)  %>)
		</div>
	</div>
	<div>
		<div id="sidebar">备注:</div>
	  	<div id="content">暂无备注</div>
	</div>
	<div>
			<div id="sidebar">创建时间:</div>
		  	<div id="content"><%= @present.created_at %></div>
	</div>
	<div>
		<div id="sidebar">最后修改时间:</div>
	  	<div id="content"><%= @present.updated_at %></div>
	</div>
	<div>
		<div id="sidebar">用户:</div>
	  	<div id="content"><%= User.first.email %></div>
	</div>
	<div>
		<div>留言：</div>
	</div>
	<div>
			  	<div class='pinglun'>

					<% if @present.review != [] %>

					<% @present.review.each do |review| %>
					<%= review.content %></br>
					</br>
					由 <%= review.user.email %> 发布. <%= review.created_at.to_date %>
					<% end %>

					<% else %>

					暂时还没有评论

					<% end %>
				</div>
	</div>
	<div>
		<div>
			<%= link_to '编辑', edit_present_path(@present) %> |
			<%= link_to '返回主页', presents_path %>
		</div>
	</div>
</div>



