<h1>Listing messages</h1>

<table>
  <tr>
    <th>Msgfrom</th>
    <th>Msg to</th>
    <th>Content</th>
    <th>Delete</th>
    <th>Related</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.msgfrom_id %></td>
    <td><%= message.msg_to_id %></td>
    <td><%= message.content %></td>
    <td><%= message.deleted %></td>
    <td><%= message.related %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
