<%= content_for :bar do %>
	<li class="active">
		<%= link_to '搜索', presents_path %>
		<span class="notch">
			<span class="inner">&nbsp;</span>
		</span>
	</li>
<% end %>



<h1>搜索关键字： <%= params[:title] %></h1></br>
</br>
</br>

<div>
	<% if @result != [] %>
		<p>
			总共 <%= @result.count %> 条搜索结果			
		</p>
		<% @result.each do |result| %>
		<p>
			<%= link_to result.title,present_path(result) %></br>
		</p>
		<% end %>
	<% else %>
	
		找不到您要的信息，试一试别的搜索结果
	
	<% end %>
</div>
