<% content_for :bar do %>
<% if user_signed_in? %>
<li class="active">
	<a href="/">首页</a>
</li>
<li class="active">
		<%= link_to '家庭 | 个人', cases_path %>
</li>
<li class="active">
	<%= link_to '商务 | 工作', cases_path %>
</li>
<li class="active">
	<%= link_to '帮助', '/admin' %>
</li>
<% else %>
<li class="active">
		<%= link_to '家庭 | 个人', presents_path %>
</li>
	<li class="active">
		<%= link_to '商务 | 工作', presents_path %>
	</li>	
<li class="active">
	<%= link_to '自助修复(beta)', '/admin' %>
</li>
<li class="active">
	<%= link_to '帮助', '/admin' %>
</li>
<% end %>
<% end %>