<div class="head">
	<div class="inner">
		<a class="logo" href="/">fav.tv</a>
		<ul id="mainnav">
			<%= yield :bar %>
		</ul>
		<ul id="tools">

			<li class="auth">
				<ul>
					<% if user_signed_in? -%> <!-- Provided by devise -->
					<li>

					</li>
				</ul>
			</li>
					<li id="usermenu" class="user">
											  
											<a class="avatar" href="<%= edit_user_registration_path %>">
											<%= image_tag('http://p4.zhimg.com/66/6b/666b0abfc_l.jpg',:size =>"27x27",:id => 'user_icon') %>
											<span class="mask">&nbsp;</span>
											</a>
						<a class="name" onclick="$('#usermenu').toggleClass('open'); return false;" href="<%= edit_user_registration_path %>"><%= current_user.email %></a>
						<span class="indicator" onclick="$('#usermenu').toggleClass('open'); return false;">&nbsp;</span>
						<ul class="menu">
						<li class="top">&nbsp;</li>
						<li class="logged_in_as"><%= current_user.email %>,欢迎回来</li>
						<li class="divider">&nbsp;</li>
						<li class="logged_in_as"><%= link_to '退出登录', destroy_user_session_path, :method => :delete %></li>
						<li class="btm">&nbsp;</li>
						</ul>
					</li>
										
					<% else %>
					<div style="float:right">
					<li>
					  <%= link_to '注册', new_user_registration_path %>
					</li>
					<li>
					  <%= link_to '登录', new_user_session_path %>
					</li>
					</div>
				</ul>
			</li>
					<% end -%>
			<li class="search">
				<form method="get" action="/search/index">
				<label class="icon" for="gsrch">&nbsp;</label>
				<input id="gsrch" type="text" autocorrect="off" spellcheck="false" autocomplete="off" maxlength="70" value="" name="title">
				</form>
			</li>
		</ul>
	</div>
</div>