<%= content_for :bar do %>
<li class="active">
	<a href="/">问题反馈</a>
	<span class="notch">
		<span class="inner">&nbsp;</span>
	</span>
</li>
	<li class="active">
		<%= link_to '问题提交', presents_path %>
	</li>
<li class="active">
	<%= link_to '系统管理', '/admin' %>
</li>
<% end %>


<div class="actions_wrapper">
<ul class="content_actions">
项目概述
</ul>
<ul class="content_bctions">

	<table>
		<tr>
			<td>
				
				<div id="orders_chart" style="width: 400px; height: 300px;"></div>
				
			</td>
			
			<td>
				<div id="noteX">
			
					
					<table>
						<tr>
							<td>
								当前全部事件数
							</td>
							<td>
								<b><%= link_to @presents.count,'/' %></b>
								
							</td>
						</tr>
						<tr>
							<td>
								已完成
							</td>
							<td>
								<%= link_to @completed_count,'/' %>
							</td>
						</tr>
						<tr>
							<td>
							未完成
							</td>
							<td>
								<%= link_to @undone_count,'/' %>
							</td>
						</tr>
					</table>
					
				</div>
				
			</td>
			
		</tr>
		
	</table>
	
	<table class="pretty">
	  <!-- Orders table code here -->
	</table>



	<script type="text/javascript" charset="utf-8">
	$(function () {
	  new Highcharts.Chart({
	    chart: { renderTo: 'orders_chart' },
	    title: { text: '已完成项目统计' },
	    xAxis: { type: 'datetime' },
	    yAxis: {
	      title: { text: 'Dollars'}
	    },

	    tooltip: {
	       formatter: function() {
	          return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
	       }
	    },
	    series: [{
		type: 'pie',
	      data: [['已完成 - <%= @completed_count %>', <%= @completed_count %>],['未完成 - <%= @undone_count %>',<%= @undone_count %>]]
	    }]
	  });
	});
	</script>

</ul>


</div>

<br>

<div class="actions_wrapper">

	<ul class="content_actions">
		项目历史
	</ul>
	<ul class="content_bctions">
		<table>
			<tr>
				<td></td>
				<td>优先</td>
				<td>标题</td>
				<td>产品类型</td>
				<td>时间</td>
				<td>原因</td>
			</tr>

				<% @presents.each do |present| %>
			<tr>
				<td><%= '已解决' if present.resolve %></td>
				<td><%= present.level_s %></td>
				<td><%= link_to truncate(present.title,:length => 40), present_path(present) %></td>
				<td><%= present.type %></td>		
				<td><%= present.created_at.to_date %></td>
				<td><%= present.cause_s %></td>
			    <td><%= link_to '编辑', edit_present_path(present) %></td>
			    <td><%= link_to '下载附件', present.fileatt.to_s if present.fileatt.to_s %></td>
			</tr>
				<% end %>
		</table>
	</ul>
</div>