<h1>登陆</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  	<div class="sign_in_div">
	<%= f.label :email %>
  	<%= f.email_field :email,:id => 'sign_in_form' %>
	</div>

  	<div class="sign_in_div">
	<%= f.label '密码' %>
  	<%= f.password_field :password,:id => 'sign_in_form' %>
	</div>



  <div class="actions">
    <button type="submit" class="btn primary">登陆</button>     
  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> <%= f.label '记住我' %>
  <% end -%>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "忘记密码？", new_password_path(resource_name) %><br />
<% end -%>
  </div>
<% end %>

 