<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :present_id, :value => params[:present] %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id,:value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.cktext_area :content, :toolbar => 'Basic', :width => 600, :height => 300%>

  </div>
  <div class="actions">
    <%= f.submit :disable_with =>  "Please wait..." %>
  </div>
<% end %>
