<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.app_name %></title>
<%= javascript_include_tag "/assets/jquery.js" %>
<%= javascript_include_tag "/assets/jquery_ujs.js" %>

<%= javascript_include_tag "/assets/jquery-ui.js" %>
<%= javascript_include_tag "/assets/autocomplete-rails.js" %>

<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<%= javascript_include_tag "/javascripts/highcharts.js" %>
<%= javascript_include_tag "/javascripts/jquery.colorbox-min.js" %>
<%= javascript_include_tag "/javascripts/site.js" %>
<%= javascript_include_tag "/javascripts/jquery.cycle.js" %>

<%= stylesheet_link_tag    "/stylesheets/base.css" %>
<%= stylesheet_link_tag    "/stylesheets/index_style.css" %>

<%= auto_discovery_link_tag(:rss, "/home/feed.rss") %>


  <%= csrf_meta_tags %>
	<%= yield :colorbox %>

</head>
<body>

<%= render 'shared/head' %>
 
<div class="content">

	<% user_signed_in? %>
	<div class="inner">
		
		<%= render 'shared/errors_messages' %>
		
		<%= none_signed? %>
		<%= yield %>
		
	</div>
	<%= render 'shared/footer' %>
<div>

</body>
</html>
